body {
	font-family: "Futura", "Helvetica", sans-serif;
}


.center {
	text-align: center;
}

.highlight {
	background-color: #E4F518;
}
a.muted-link, a.muted-link:active, a.muted-link:hover {
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #BBC2BE;
}


#dude-display, #not-dude-display {
	font-size: 24px;
	font-family: "Courier", sans-serif;
}

#button-div {
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
}
.btn-default {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	padding: 40px 0px 0px 0px;
	border: none;
	background-color: #d8e2dc;
	box-shadow: 0 10px #777;
	margin-bottom: 10px;
}
.btn-default:hover, .btn-default:active {
	background-color: #d8e2dc;
	box-shadow: 0 7px #777;
	margin-top: 3px;
	margin-bottom: 7px;
}
.btn-default.pressed {
	background-color: #BBC2BE;
	box-shadow: none;
	margin-top: 10px;
	margin-bottom: 0px;
}

#ans {
	font-size: 24px;
	font-family: "Courier", sans-serif;
	color: #BBC2BE;
}

input[type=checkbox] {
	display: none;
}

div#fullscreen_mode_content {
	display: none;
	visibility: hidden;
}

[for="fullscreen_mode"] {
	text-decoration: underline;
}

[for="fullscreen_mode"]:hover {
	cursor: pointer;

}

input[type=checkbox]:checked ~ #fullscreen_mode_content {
    display: inline-block;
    visibility: visible;
}

input[type=checkbox]:checked ~ #normal_mode_content {
    display: none;
	visibility: hidden;
}


#full_dude, #full_not-dude {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    cursor: pointer;

    display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	flex-direction: column;

	color: #000;
}

#full_dude {
	right: 50%;
}

#full_not-dude {
    left: 50%;
}

#full_dude.pressed, #full_not-dude.pressed {
	background-color: black;
	color: white;
}

#full_dude-display, #full_not-dude-display {
	font-size: 10vw;
	font-family: "Courier", sans-serif;
	text-align: center;

	padding-top: 33%;
}


#full_ans {
	font-size: 10vw;
	font-family: "Courier", sans-serif;
	color: #ffffff;
	

}

#full_header, footer>label {
	color: #ffffff;
	mix-blend-mode: difference;
}

#full_header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;

}

footer {
	padding-bottom: 5%;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
